@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
   background-color: rgb(43, 39, 17);
   height: 100vh;
   box-sizing: border-box;
   padding: 5px;
   display: flex;
   align-items: center;
}

p {
   font-size: 24px;
   color: rgb(182, 180, 125);
   font-weight: 75%;
   text-align: justify;
}

strong {
   color: rgb(241, 245, 21);
}

.skills {
   color: rgba(212, 192, 17, 0.479);
}

.logo_link {
   width: 35px;
}

.apresentacao {
   margin: 10%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: justify;
   font-family: 'Krona One', sans-serif;
}

#java {
   width: 35%;
}

.titulo {
   font-size: 36px;
   color: rgba(206, 188, 97, 0.932);
}

.links {
   display: flex;
   justify-content: space-around;
   padding: 5%;
}

.conteudo {
   display: flex;
   flex-direction: column;
   gap: 25px;
}